<launch>
    <node name="spoj" pkg="coveragedemining" type="coverage" >
        <param name="base_frame" value="base_link" />
        <param name="odom_topic" value="/odom" />
        <param name="scan_topic" value="/base_scan" />
        <param name="cmd_vel_topic" value="cmd_vel" />
        <param name="sick_angular_offset" type="double" value="0" />
        <param name="vx_min" type="double" value="0" />
        <param name="vx_max" type="double" value="300." />
        <param name="dvx_max" type="double" value="250." />
        <param name="w_min" type="double" value="-50." />
        <param name="w_max" type="double" value="50." />
        <param name="dw_max" type="double" value="70." />
    </node>


</launch>

